.bar-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.4rem
}

.container--toolkit {
  padding: 0.6em;
  margin: 0.4em;
  background-color: #1b222a;
  border-radius: 0.4em;
}