:root {
  --primary-bg-clr: #1e262f;
  --secondary-bg-clr: #101317;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--primary-bg-clr);
}

button:hover {
  cursor: pointer;
  background-color: #13181e;
}